@tailwind base;
@tailwind components;
@tailwind utilities;


.all::after{
    content: '';
    display: block;
    width: 0%;
    transition:1s;
    left:0%;
    height: 5px;
    position: absolute;
    background:green;
    bottom: -5px;
}

.all:hover::after{
    width:13.5%;
}

.login{
    background-image:url("./assets/back.jpg")

}